.side-bar {
  float: left;
}

.side-bar-bgcolor {
    background-color: #f9f9f9;
}

.lefttabs {

}

.righttabs {

}

.bluecontent {
  background-color: #f5faff;
}

.greencontent {
  background-color: #f5fffa;
}

.panel-green {
  background-color: #cef2e0;
  border: 2px solid #cef2e0;
}

.panel-blue {
  background-color: #cedff2;
  border: 2px solid #cedff2;
}

.panel-purple {
  background-color: #ddcef2;
  border: 2px solid #ddcef2;
  margin-top: 3px;
}

.purplecontent {
  background-color: #faf5ff;
}

img {
  height: 160px;
  width: 180px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 162%;
}

.header p {
  font-size: 95%;
}

body {
  font-style: sans-serif;
}

.row img {
  float: right;
}

.content2 img {
  float: left;
  width: 25%;
  height: 25%;
}

.panel-heading {
  font-weight: bold;
  font-size: 120%;
}
